<nav class="navbar navbard-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">The Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#" routerlink='recipes'>Recipes</a></li>
                <li class="nav-item"><a class="nav-link" href="#" routerlink='shoppingList'>shopping</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" app-dropdown>
                    <a href="#" class="dropdown-toggle" role="button">manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="#"> save data</a></li>
                        <li> <a href="#"> fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>